{% extends "base.html"  %}

{% block content %}


<form action="check" method="post">
    {% csrf_token %}
      <div class="input-group">
        <label for="paragraph1">Paragraph 1:</label>
        <textarea id="paragraph1" name="paragraph1" rows="4" cols="30"></textarea>
      </div>
      <div class="input-group">
        <label for="paragraph2">Paragraph 2:</label>
        <textarea id="paragraph2" name="paragraph2" rows="4" cols="30"></textarea>
      </div>
      <br>
      <input class="submit_button" type="submit" value="Submit">
</form>
<br> 
<br> <br> <br> 

{% if result %}
        <h3>result: {{ result }}</h3>
    {% endif %}
  
  
  

{% endblock %}
